.home-page {
  text-align: center;
  z-index: 90;

  .text-zone {
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-50%);
    width: 85%;
    max-height: 90%;
    text-align: center;
  }

  .hOne {
    font-family: "La Belle Aurore", cursive;
    color: #48adda;
    font-size: 26px;
    margin-top: -40px;
    opacity: 0.6;
  }

  h1 {
    color: #fff;
    font-size: 86px;
    line-height: 86px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;

    // &:before {
    //   content: "<h1>";
    //   font-family: "La Belle Aurore", cursive;
    //   color: #48adda;
    //   font-size: 18px;
    //   position: absolute;
    //   margin-top: -40px;
    //   left: 85px;
    //   opacity: 0.6;
    // }

    // &:after {
    //   content: "<h1/>";
    //   font-family: "La Belle Aurore", cursive;
    //   color: #48adda;
    //   font-size: 18px;
    //   position: absolute;
    //   margin-top: 18px;
    //   margin-left: 20px;
    //   animation: fadeIn 1s 1.7s backwards;
    //   opacity: 0.6;
    // }

    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #48adda;
    margin-top: 20px;
    margin-bottom: 42px;
    // margin-right: 11px;
    font-weight: 400;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #48adda;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #48adda;
    margin-top: 25px;
    margin-right: 19px;
    float: none;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    &:hover {
      background: #48adda;
      color: #333;
    }
  }
}

.animation-area {
  background: #2e3742;
  width: 100%;
  height: 100vh;
  z-index: 50;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(0, 0, 0, 0.61);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 2s;
  animation-duration: 15s;
}
.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
